/*
        Crear un archivo HTML y un archivo CSS, vamos a linkear el archivo CSS al archivo HTML y 
        vamos a hacer lo mismo que el primer ejercicio, pero ahora la página va a tener un color 
        de fondo a elección, el encabezado H1 tiene que tener una fuente a elección y estar 
        centrado, lo mismo para el encabezado H2, y por ultimo los párrafos deben tener una 
        fuente a elección, deben tener un color a elección y deben estar centrados a la izquierda.
*/

body {
    background-color: rgb(178, 233, 236);
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

p {
    text-align: center;
    color: rgb(235, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
}